/******************** Tag Selectors ********************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    font-family: 'Oooh Baby', cursive;
    margin: 70px 30px 0;
    padding: 0;
    color: #66BFBF;
    font-size: 4em;
    text-shadow: 1px 3px 3px silver; 
    line-height: .5;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    text-shadow: 1px 3px 3px silver; 
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 0;
  }
  
  hr {
    border-top: 10px dotted silver;
    color: silver;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
  }
  /******************** Class Selectors ********************/
  
  .site-tagline {
    font-size: 2.5rem;
  }
  
  .top-container {
    background-color: #EFFFFD;
    width: 100%;
    padding-top: 100px;
    }
  
  .middle-container {
    background-color: #F2FFE9;
    padding: 15px;
    width: 100%;
    }
  
  .bottom-container {
    background-color: mintcream;
    width: 100%;
    }
  
  .top-cloud {
    position: absolute;
    top: 100px;
    right: 200px;
  }
  
  .bottom-cloud {
    position: absolute;
  }
  
  .beck-pic-1 {
    padding: 10px;
    margin-top: 50px;
    position: relative;
    top: 15px;
  }
  
  .footer-link {
    color: #11999E;
  }
  
  
  /******************** ID Selectors ********************/
  